/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background-color: #0b0b0b;
  color: white;
}

/* NAVBAR */
.navbar {
  background: black;
  padding: 15px;
  text-align: center;
}

.navbar h1 {
  color: #00ffcc;
}

/* HERO SECTION */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 32px;
}

.hero p {
  margin-top: 10px;
  opacity: 0.8;
}

.hero button {
  margin-top: 20px;
  padding: 12px 28px;
  border: none;
  background: #00ffcc;
  color: black;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: white;
  box-shadow: 0 0 20px #00ffcc;
}

/* GENERAL SECTION */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 30px;
  color: #00ffcc;
}

/* DARK SECTION */
.dark {
  background: #111;
}

/* SPORTS GRID */
.sports-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
}

/* SPORT CARD */
.card {
  background: #151515;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card p {
  padding: 10px;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 0 20px #00ffcc;
}

/* EQUIPMENT DISPLAY */
.equipment {
  display: none;
  margin-top: 20px;
  background: #151515;
  padding: 20px;
  border-radius: 12px;
  animation: slideUp 0.5s ease;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LOGIN PAGE */
.login-box {
  background: #151515;
  padding: 30px;
  border-radius: 15px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.3);
}

.login-box input {
  padding: 10px;
  border-radius: 8px;
  bor
